body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.header-wrapper {
    max-width: 1496px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.head {
    color: #f9fafe;
    padding-top: 30px;
    padding-bottom: 1px;
    background-image: url(../img/Header-BG.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 198px;
}
.nav {
    display: flex;
}
.nav-item {
    list-style-type: none;
    margin: 0px 0px;
}
.nav-item a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f9fafe;
    border-radius: 5px;
    border: solid 1px transparent;
    padding: 11px 20px;
    padding-bottom: 11px;
    padding-top: 11px;
    /* padding-right: 36px; */
    margin-left: 2px;
    transition: 0.5s;
}
.nav-item.sign-up a {
    padding: 11px 35px;
    margin-left: 17px;
}
.nav-item:hover a,
.nav-item.sign-up a {
    border-color: #f9fafe;
}
.nav-icon {
    font-size: 30px;
    display: none;
}
.title, .center {
    text-align: center;
}
.title-h1, .center-h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 1px;
}
.title-h3, .center-h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 82px;
    margin-top: 0;
}
.form form{
    width: 769px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 300px;
}
.form input, .grid-btn,
.footer-email, .footer-btn {
    outline: none;
    border: none;
    box-shadow: none;
}
#sailor-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #717171;
    width: 571px;
    height: 60px;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    padding-left: 30px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    text-align: left;
}
#sailor-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    width: 200px;
    height: 60px;
    background-color: #e7434e;
    padding-left: 40px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.label-btn, .grid-btn {
    position: relative;
}
.label-btn:before {
    content: '';
    position: absolute;
    left: 48px;
    top: 22px;
    width: 16px;
    height: 16px;
    background-image: url(../img/sailboat-icon.svg);
    background-repeat: no-repeat;
}
.statistics {
    position: absolute;
    bottom: -70px;
    height: 140px;
    width: 1200px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.15);
}
.stat-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    padding: 0;
}
.stat-item span {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #343434;
    display: block;
    margin-bottom: 8px;
}
.stat-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: #717171;
    list-style-type: none;
    flex-basis: 25%;
    border-right: 1px solid rgb(212, 212, 212);
}
.stat-item:last-child {
    border-right: none;
}
.destinations {
    padding-top: 141px;
    padding-bottom: 99px;
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 85px;
}
.section-h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: #343435;
    margin-bottom: 0;
}
.section-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    color: #717171;
    margin-bottom: 0px;
}
.grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 31px;
    padding: 0;
    margin: 0;
    margin-bottom: 118px;
    /* padding: 0 15px; */
    /*! padding-bottom: 16px; */
}
.grid-item {
    height: 360px;
    position: relative;
    transition: all 200ms ease;
}
.grid-item:hover {
    box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.4);
}
.grid-wide-item {
    grid-column: 1 / 3;
    grid-row: 1;
}
.grid-img {
    display: block;
    width: 100%;
    height: 360px;
    border-radius: 5px;
    object-fit: cover;
}
.grid-gradient {
    position: absolute;
    display: block;
    width: 100%;
    height: 360px;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.5) 100%);
    mix-blend-mode: multiply;
}
.grid-btn {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    position: absolute;
    top: 32px;
    left: 27px;
    padding: 10px 12px 10px 41px;
    border-radius: 5px;
    color: #fff;
    background-color: #e7434e;
    cursor: pointer;
}
.grid-btn:before {
    content: '';
    position: absolute;

    left: 16px;
    top: 9px;
    width: 16px;
    height: 16px;
    background-image: url(../img/sailboat-icon.svg);
    background-repeat: no-repeat;
}
.grid-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 27px;
    left: 26px;
    text-align: left;
}
.grid-text span,
.boat-h4 {
    font-size: 30px;
    letter-spacing: 1.2px;
    display: block;
}
.extended-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    text-decoration: none;
    color: #343434;
    padding: 20px 41px;
    border-radius: 5px;
    border: solid 1px rgba(38, 38, 38, 0.3); 
}
.center {
    padding-top: 114px;
    padding-bottom: 179px;
    background-image: url(../img/Center-BG.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9fafe;
}
.center-h2 {
    margin-bottom: 0px;
}
.center-h3 {
    margin-bottom: 100px;
}
.center-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 21px 43px;
    color: #fff;
    border-radius: 5px;
    background-color: #e7434e;
}
.boats {
    padding-top: 63px;
    padding-bottom: 108px;
    text-align: center;
}
.boats-grid {
    grid-template: 1fr 1fr / 1fr 1fr;
    margin-bottom: 106px;
    grid-gap: 19px 27px;
}
.boats .grid-btn {
    padding-left: 11px;
    padding-right: 11px;
}
.boats .grid-btn:before {
    content: none;
}
.boats .boat-h4 {
    margin-bottom: 11px;
    font-weight: 400;
}
.boats .boat-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.32px;
    display: flex;
    padding: 0;
    margin: 0;
}
.boats .boat-list li {
    list-style-type: none;
    margin-right: 30px;
}
.boats .boat-list li svg {
    height: 16px;
    margin-right: 10px;
}
.footer-bg {
    color: #fff;
    background-color: #404040;
    padding-top: 33px;
    padding-bottom: 76px;
}
.red-line {
    height: 6px;
    background-size: 20px 20px;
    background-color: #e7434e;
    background-image: repeating-linear-gradient(
    -45deg, transparent, transparent 18px,
    #111454 18px,#111454 22px);
}
.footer-partitions {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.footer-h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-list,
.social-list {
    margin: 0;
    padding: 0;
}
.footer-list li {
    list-style-type: none;
    margin-bottom: 11px;
}
.footer-list li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.footer-form {
   margin: 0;
   margin-bottom: 36px;
   display: flex;
}
.footer-form .footer-email {
    color: #717171;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    width: 270px;
    height: 43px;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    padding-left: 22px;
    margin: 0;
}
.footer-form .footer-btn {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e7434e;
    border-radius: 0px 5px 5px 0px;
    padding: 11px 44px 13px 31px;
    margin: 0;
    cursor: pointer;
}
.social-list {
    display: flex;
}
.social-item {
    list-style-type: none;
    margin-right: 20px;
}
.social-circle {
    color: #fff;
    background-color: #717171;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    line-height: 3.2;
}
.social-circle svg {
    font-size: 20px;
    vertical-align: 0;
}
@media (max-width: 1525px) {
    .header-wrapper {
        padding: 0 25px;
    }
}
@media (max-width: 1240px) {
    .statistics {
        width: 1170px;
    }
}
@media (max-width: 1175px) {
    .wrapper {
        padding: 0 25px;
    }
    .statistics {
        width: 1100px;
        left: calc(50% - 550px);
    }
    .footer-partitions {
        padding: 0;
    }
}
@media (max-width: 1125px) {
    .statistics {
        width: 900px;
        left: calc(50% - 450px);
    }
}
@media (max-width: 1015px) {
    .title-h1 {
        font-size: 60px;
    }
    .center .center-h2 {
        font-size: 60px;
    }
    .statistics {
        width: 800px;
        left: calc(50% - 400px);
    }
    .footer-form .footer-email {
        width: 200px;
    }
    .footer-form .footer-btn {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 950px) {
    .footer-form .footer-email {
        width: 170px;
    }
    .footer-form .footer-btn {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 870px) {
    .nav-item a {
        font-size: 14px;
    }
    .title-h1 {
        font-size: 50px;
    }
    .center .center-h2 {
        font-size: 50px;
    }
    .form form {
        justify-content: center;
    }
    #sailor-text {
        width: 450px;
    }
    .statistics {
        width: 750px;
        left: calc(50% - 375px);
    }
    .title-h3 {
        font-size: 25px;
    }
    .section-text {
        font-size: 14px;
    }
    .destination-grid {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}
@media (max-width: 815px) {
    .footer-bg {
        padding-bottom: 33px;
    }
    .footer-list li {
        margin-bottom: 8px;
    }
    .footer-list li a {
        font-size: 12px;
    }
}
@media (max-width: 785px) {
    header .nav {
        display: none;
    }
    .nav-icon {
        display: inherit;
        line-height: 36px;
    }
}